<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Novel Coronavirus estimator">
    <link rel="stylesheet" href="assets/css/main.css" media="screen">
    <title>CovidEstimator - Build For SDG</title>
</head>

<body class="bg-light">
    <div class="container" id="app">
        <h1 class="mb-4">
            Estimate Impact for Covid19 Outbreak
        </h1>
        <div class="impact-information row">
            <div class="col-md-6 mb-4">
                <div class="estimator-form p-5 shadow-sm bg-white">
                    <form @submit.prevent='submit' method="POST">
                        <fieldset class="mb-5">
                            <legend class="mb-3">Region</legend>

                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" placeholder="Africa. Nigeria. Lagos"
                                    class="form-control" v-model="regionName" required>
                            </div>
                            <div class="form-group">
                                <label for="reported-cases">Reported Cases</label>
                                <input type="number" name="reported-cases" id="reported-cases" placeholder="1000"
                                    data-reported-cases class="form-control" v-model="reportedCases" required>
                            </div>
                            <div class="form-group">
                                <label for="population">Population</label>
                                <input type="number" name="population" id="population" placeholder="1200000"
                                    data-population class="form-control" v-model="population">
                            </div>
                        </fieldset>

                        <fieldset class="mb-5">
                            <legend class="mb-3">
                                Estimation Period
                            </legend>
                            <div class="form-group">
                                <label for="period-type">Period Type</label>
                                <select name="period-type" id="period-type" data-period-type class="custom-select"
                                    v-model="periodType" required>
                                    <option value="days">Days</option>
                                    <option value="weeks">Weeks</option>
                                    <option value="months">Months</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="time-to-estimate">Estimation Period</label>
                                <input type="number" id="time-to-estimate" class="form-control" placeholder="2"
                                    v-model="periodValue" required>
                            </div>
                        </fieldset>

                        <fieldset class="mb-4">
                            <legend class="mb-3">Estimate Impact</legend>
                            <div class="form-group">
                                <label for="total-hospital-beds">Total Hospital Beds</label>
                                <input type="number" placeholder="12000" data-total-hospital-beds class="form-control"
                                    v-model="totalHospitalBeds" id="total-hospital-beds">
                            </div>
                            <div class="form-group">
                                <label for="average-daily-income">Average Daily Income (in USD)</label>
                                <input type="number" placeholder="10" id="average-daily-income" class="form-control"
                                    v-model="avgDailyIncome">
                            </div>
                            <div class="form-group">
                                <label for="average-earning-population">Earning Population</label>
                                <input type="number" id="average-earning-population" placeholder="50 for 50%"
                                    class="form-control" v-model="averageIncomePopulation">
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <button data-go-estimate class="btn btn-dark px-4 py-2 rounded-0">Estimate Covid19
                                Impact</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="bg-white p-5 shadow-sm">
                    <div class="nothing my-5 text-center" v-if="!returnedOutput && !loading">
                        <h2 class="text-black-50">
                            No Data
                        </h2>
                    </div>
                    <div class="loading my-5 text-center" v-if="loading">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="estimation-result" v-if="returnedOutput">
                    <div class="best-case-scenerio bg-white shadow-sm p-5">
                        <h3 class="mb-3">
                            Best case scenerio
                        </h3>
                        <div class="results">

                            <div class="row">
                                <div class="col-6">
                                    <div class="shadow-sm p-2 text-center mb-5 output">
                                        <h6>
                                            {{returnedOutput.impact.currentlyInfected}}
                                        </h6>
                                        <span>
                                            Currently infected
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="shadow-sm p-2 text-center mb-5 output">
                                        <h6>
                                            ${{returnedOutput.impact.dollarsInFlight}}
                                        </h6>
                                        <span>
                                            Lost in {{returnedOutput.data.timeToElapse}}
                                            {{returnedOutput.data.periodType}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="result-by-requested-time">
                                <h5 class="mb-4">
                                    Estimated Impact in {{returnedOutput.data.timeToElapse}}
                                    {{returnedOutput.data.periodType}}
                                </h5>
                                <div class="row">

                                    <div class="col-4">
                                        <div class="shadow-sm p-2 text-center output">
                                            <h6>
                                                {{returnedOutput.impact.infectionsByRequestedTime}}
                                            </h6>
                                            <span>
                                                Cases
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="shadow-sm p-2 text-center output">
                                            <h6>
                                                {{returnedOutput.impact.hospitalBedsByRequestedTime}}
                                            </h6>
                                            <span>
                                                H.Bed Availability
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="shadow-sm p-2 text-center output">
                                            <h6>
                                                {{returnedOutput.impact.severeCasesByRequestedTime}}
                                            </h6>
                                            <span>
                                                Cases require Hospitalization
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="shadow-sm p-2 text-center output">
                                            <h6>
                                                {{returnedOutput.impact.casesForICUByRequestedTime}}
                                            </h6>
                                            <span>
                                                Cases require ICU
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="shadow-sm p-2 text-center output">
                                            <h6>
                                                {{returnedOutput.impact.casesForVentilatorsByRequestedTime}}
                                            </h6>
                                            <span>
                                                Cases require ventilators
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="worst-case-scenerio bg-white shadow-sm mt-5 p-5">
                        <h3 class="mb-3">
                            Worst case scenerio
                        </h3>
                        <div class="results">

                            <div class="row">
                                <div class="col-6">
                                    <div class="shadow-sm p-2 text-center mb-5 output">
                                        <h6>
                                            {{returnedOutput.severeImpact.currentlyInfected}}
                                        </h6>
                                        <span>
                                            Currently infected
                                        </span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="shadow-sm p-2 text-center mb-5 output">
                                        <h6>
                                            ${{returnedOutput.severeImpact.dollarsInFlight}}
                                        </h6>
                                        <span>
                                            Lost in {{returnedOutput.data.timeToElapse}}
                                            {{returnedOutput.data.periodType}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="result-by-requested-time">
                                <h5 class="mb-4">
                                    Estimated Impact in {{returnedOutput.data.timeToElapse}}
                                    {{returnedOutput.data.periodType}}
                                </h5>
                                <div class="row">

                                    <div class="col-4">
                                        <div class="shadow-sm p-2 text-center output">
                                            <h6>
                                                {{returnedOutput.severeImpact.infectionsByRequestedTime}}
                                            </h6>
                                            <span>
                                                Cases
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="shadow-sm p-2 text-center output">
                                            <h6>
                                                {{returnedOutput.severeImpact.hospitalBedsByRequestedTime}}
                                            </h6>
                                            <span>
                                                H.Bed Availability
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="shadow-sm p-2 text-center output">
                                            <h6>
                                                {{returnedOutput.severeImpact.severeCasesByRequestedTime}}
                                            </h6>
                                            <span>
                                                Cases require Hospitalization
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="shadow-sm p-2 text-center output">
                                            <h6>
                                                {{returnedOutput.severeImpact.casesForICUByRequestedTime}}
                                            </h6>
                                            <span>
                                                Cases require ICU
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="shadow-sm p-2 text-center output">
                                            <h6>
                                                {{returnedOutput.severeImpact.casesForVentilatorsByRequestedTime}}
                                            </h6>
                                            <span>
                                                Cases require ventilators
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>