label{
    color: #757575;
}

.estimation-result{
    .output{
        h6{
            font-weight: 600;
            color: #333333;
        }
        span{
            color: #757575;
            font-size: .9rem;
        }
    }
    h3{
        font-size: 1.4rem;
    }
    h5{
        font-size: 1.1rem;
    }
}